@import url("http://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet");

/* default paragraph style */
p {
	line-height: 1em;
}

/* default headings style */
h1, h2, h3, h4{
    color: blue;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

/* specifies font-size in ems */
h1 {
  font-size: 1.7em; 
}

/* specifies font-size in ems */
h2 { 
  font-size: 1.5em; 
  text-align: center;
}

/* deals with link elements... colors them black with no decoration */
a {
	color: black;
	text-decoration: none;
}

/* handles hover and active events for the links */
a:hover, a:active {
  text-decoration: none;
  color: white;
}

/* default body style */
body{
    font-family: Josefin-Slab, serif; font-size: 18px; line-height: 1.2em; width: 100%; margin: 0; background: #A9A9A9;
}

#logo{
	width: 35%;
	margin-top: 5px;
	font-family: Tangerine, serif;
	font-size: 24px;
	display: inline-block;
}

nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}

#nav ul{}

#nav ul li {
			display: inline-block;
			height: 62px;
}

#nav ul li a {
  padding: 20px;
	background: red;
	color: black;
}

#nav ul li a:hover{
  background-color: #ffb424;
	box-shadow: 0px 1px 1px #666;
}

#nav ul li a:active { background-color: #ff8f00; }

#content { 
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}

#footer {
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}

#footer p {
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
}

#content, ul li a { box-shadow: 0px 1px 1px #999; }

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}

.cl_logo {
	float: left;
	width: 315px;
	height: 100px;
}

.cl_nav {
	float: right;
	width: 315px;
	height: 100px;
}

.cl_page {
	width: 100%;
	height: 100%;
}
